@model MonashLTS.Models.Unit

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Unit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UnitCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Deliverable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Deliverable",new List<SelectListItem> {
                        new SelectListItem{ Text="--", Value= "NA"},
                        new SelectListItem{ Text="Yes", Value= "Y"},
                        new SelectListItem{ Text="No", Value= "N"}
           },htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Deliverable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitTeachingLeadPrimary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UnitTeachingLeadPrimary", new List<SelectListItem> {
                        new SelectListItem{ Text="--", Value= "--"},
                        new SelectListItem{ Text="Dean Faculty of Information Technology", Value= "Dean Faculty of Information Technology"},
                        new SelectListItem{ Text="Dean Faculty of Arts", Value= "Dean Faculty of Arts"},
                        new SelectListItem{ Text="Dean Faculty of Business & Economics", Value= "Dean Faculty of Business & Economics"},
                        new SelectListItem{ Text="Dean Faculty of Science", Value= "Dean Faculty of Science"},
                        new SelectListItem{ Text="Dean Faculty of Med Nursing & Health Sci", Value= "Dean Faculty of Med Nursing & Health Sci"},
                        new SelectListItem{ Text="Dean Faculty of Art Des & Architecture", Value= "Dean Faculty of Art Des & Architecture"}
           }, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitTeachingLeadPrimary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitOwningOrgPrimary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UnitTeachingLeadPrimary", new List<SelectListItem> {
                        new SelectListItem{ Text="--", Value= "--"},
                        new SelectListItem{ Text="Dean Faculty of Information Technology", Value= "Dean Faculty of Information Technology"},
                        new SelectListItem{ Text="Dean Faculty of Arts", Value= "Dean Faculty of Arts"},
                        new SelectListItem{ Text="Dean Faculty of Business & Economics", Value= "Dean Faculty of Business & Economics"},
                        new SelectListItem{ Text="Dean Faculty of Science", Value= "Dean Faculty of Science"},
                        new SelectListItem{ Text="Dean Faculty of Med Nursing & Health Sci", Value= "Dean Faculty of Med Nursing & Health Sci"},
                        new SelectListItem{ Text="Dean Faculty of Art Des & Architecture", Value= "Dean Faculty of Art Des & Architecture"},
                        new SelectListItem{ Text="Dean Faculty of Engineering", Value= "Dean Faculty of Engineering"}
           }, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitOwningOrgPrimary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitLevel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UnitLevel", new List<SelectListItem> {
                        new SelectListItem{ Text="--", Value= "--"},
                        new SelectListItem{ Text="1", Value= "1"},
                        new SelectListItem{ Text="2", Value= "2"},
                        new SelectListItem{ Text="3", Value= "3"},
                        new SelectListItem{ Text="4", Value= "4"},
                        new SelectListItem{ Text="5", Value= "5"},
                        new SelectListItem{ Text="9", Value= "9"}
           }, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitLevel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UnitLocation", new List<SelectListItem> {
                        new SelectListItem{ Text="--", Value= "NA"},
                        new SelectListItem{ Text="Clayton", Value= "Clayton"},
                        new SelectListItem{ Text="Caulfield", Value= "Caulfield"}
           }, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitMode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UnitMode", new List<SelectListItem> {
                        new SelectListItem{ Text="--", Value= "NA"},
                        new SelectListItem{ Text="On Campus", Value= "On Campus"},
                        new SelectListItem{ Text="Off Campus", Value= "Off Campus"},
                        new SelectListItem{ Text="On/Off Campus", Value= "On/Off Campus"}
           }, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitMode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Eftsl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Eftsl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Eftsl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
